*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-y: hidden;
  }

  body{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(215, 215, 215) , rgb(255, 255, 255));
    height: min-content;
    background-repeat: no-repeat;
    
  }

  .container{ 
    background-color: rgb(20, 12, 2);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    height: 100vh;
  }

  input{
    width: 100%;
    height:42vh;
    padding: 40px 35px 40px 0px;
    font-size: 25px;
    color: white;
    background-color: rgb(20, 12, 2);
    text-align: end;
    border: transparent;
   border-bottom: 1px solid rgba(128, 128, 128, 0.355);
  }
  ::placeholder{
    font-size: 25px;
    text-align: end;
    color: white;
  }

  .main-container{
    margin: 15px 20px;
  }
  .main-container p{
    display: flex;
    justify-content: space-evenly;
   
  }
  p button{
    height: 60px;
    width: 60px;
    margin: 10px 0px;
    border-radius: 30%;
    font-size: 25px;
    background-color:rgb(49, 49, 49) ;
    color: white;
    box-shadow: 0px 0px 15px black;
    border: none;
  }

  p button:hover{
    background-color: white;
    color: black;
  }

  .equal-sign{
    background-color: rgb(238, 158, 10);
  }
  .equal-sign:hover{
    background-color: white;
    color:  rgb(238, 158, 10);
  }
